@import "../../shared_styles/colors.scss";

.container {
  height: 6px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
}

.filler {
  height: 100%;
  background-color: $red;
  background-image: linear-gradient(315deg, $red 0%, $sunset 74%);;
  border-radius: inherit;
  transition: width 1s linear;
}

.progress-bar {
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}

.progress-bar.hide {
  opacity: 0;
}